.userFriend {
  line-height: 24px;
  padding: 10px;
  margin-top: 5px;
  &:first-child {margin-top: 0;}
  background: #EEE;
}

.name {
  display: inline-block;
}

.lastName {
  opacity: 0.7;
}

.friendshipIndicator {
  display: inline-block;
  margin: 0 10px;
  color: #b52159;
}
