html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  padding: 0px 10px;
  font-size: 14px;
  line-height: 16px;
  color: #444448;
  background: #FFF;
  font-family: sans-serif;
}

div,
span,
section {box-sizing: border-box;}

em {font-style: italic}
strong {font-weight: bold}
