.users {
  margin-top: 15px;
  max-width: 400px;
  margin: 0 auto;
}

.users_heading {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #EEE;
  text-transform: uppercase;
}

.users_list {
  margin-top: 15px;
}
